@charset "UTF-8";
.menu-wrap, .cart-wrap {
	float: left;
	height: 100%;
	min-height: calc(100vh - var(--headerHeight));
}

.menu-wrap {
	width: 70%;
}

/* 장바구니/결제 영역 */
.cart-wrap {
	position: fixed;
	top: 100px;
	right: 0;
	width: 30%;
	box-sizing: border-box;
	background: white;
}

.cart-box {
	overflow: auto;
	width: 100%;
	height: 55%;
	border: 1px solid #f1f1f1;
	z-index: 100;
}

.cart-box h5 {
	display: block;
	line-height: 40px;
	font-size: 18px;
	border-bottom: 1px solid #f1f1f1;
	background: darkkhaki;
	color: white;
	position: sticky;
    top: 0px;
}

.cart-box table {
	width: 100%;
	border: 0px solid darkkhaki;
	border-collapse: collapse;
}

.cart-box table th:nth-child(1), .cart-box table td:nth-child(1) {
	width: 50%;
}

.cart-box table th:nth-child(2), .cart-box table td:nth-child(2) {
	width: 20%;
	text-align: center;
}

.cart-box table th:nth-child(3), .cart-box table td:nth-child(3) {
	width: 20%;
	text-align: center;
	padding-right: 20px;
	box-sizing: border-box;
}

.cart-box table th:nth-child(4), .cart-box table td:nth-child(4) {
	width: 10%;
	text-align: center;
}

.cart-box table th {
	margin: 10px 0;
	position: sticky;
    top: 0px;
}

.cart-box table td {
	font-size: 20px;
	line-height: 30px;
}

.cart-box table tr:nth-child(1) {
	background: khaki;
	color: gray;
	position: sticky;
    top: 41px;
}

.cart-box .mop {
	width: 25px;
    height: 25px;
    border-radius: 5px;
	border: none;
	background: darkkhaki;
	color: white;
	visibility: visible;
	cursor: pointer;
}

.cart-box .mop.disabled {
	visibility: hidden;
}

.cart-box .remove {
	width: 40px;
    height: 25px;
    border-radius: 10px;
	border: none;
	background: darkkhaki;
	color: white;
	cursor: pointer;
}

/* 주문확인 영역 */
.order-box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	height: 45%;
	border: 1px solid lightgray;
	z-index: 100;
}

.order-box .total-amount {
	flex: 60%;
	height: 30%;
	background: #f6f6f6;
	border-bottom: 1px solid lightgray;
}

.order-box .total-amount p, .order-box .total-price p {
	padding-left: 20px;
	box-sizing: border-box;
	font-size: 22px;
	color: #555;
}

.order-box .total-amount p:first-child, .order-box .total-price p:first-child {
	font-weight: 700;
}

.order-box .total-amount p + p, .order-box .total-price p + p {
	margin-top: -2px;
	padding-right: 20px;
	text-align: right;
	font-size: 32px;
}

.order-box .total-amount p span, .order-box .total-price p span {
	display: inline-block;
	margin-right: 5px;
	color: darkkhaki;
	font-weight: 700;
}

.order-box .all-remove {
	flex: 40%;
	height: 30%;
	background: #888;
	border-bottom: 1px solid lightgray;
}

.order-box .all-remove div, .order-box .finally-order div {
	width: 100%;
	height: 76%;
	text-align: center;
	box-sizing: border-box;
}

.order-box .all-remove div a, .order-box .finally-order div a {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding-top: calc(25% - 18px);
	color: #222;
	text-align: center;
	font-size: 35px;
	font-weight: 700;
	letter-spacing: 1px;
}

.order-box .total-price {
	flex: 60%;
	height: 70%;
	background: #f6f6f6;
}

.order-box .total-price p {
	font-size: 32px;
}

.order-box .total-price p + p {
	margin-top: 2px;
}

.order-box .total-price p span {
	font-size: 50px;
}

.order-box .finally-order {
	flex: 40%;
	height: 70%;
	background: tomato;
}

.order-box .finally-order div a {
	padding-top: 28%;
	color: white;
	letter-spacing: 2px;
}

/* 카테고리 선택 */
.category-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.cate-box {
	margin-top: 100px;
	flex: 20%;
	height: 40px;
	border: 1px solid white;
	background: darkkhaki;
}
.cate-box + .cate-box {
	border-left: 0px solid white;
}

.cate-box a {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 18px;
	font-weight: 700;
	line-height: 40px;
	text-align: center;
}

.cate-box:hover, .cate-box.on {
	background: white;
}

.cate-box:hover a, .cate-box.on a {
	color: #222;
}

/* 메뉴 리스트 */
.menu-box {
	margin-top: 80px;
	margin-bottom: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.menu-box .menu-item {
	height: 410px;
	flex: calc(24% - 2px);
	text-align: center;
	margin-bottom: 30px;
	border: 1px solid #f1f1f1;
	padding: 10px 0;
	box-sizing: border-box;
	cursor: pointer;
}

.menu-box .menu-item img {
	width: 300px;
}

.menu-box .menu-item.null {
	flex: calc(25% - 32px);
	margin: 0 15px;
	margin-top: -27px;
	background: lightgray;
	padding: 0 0;
}

/* 옵션 선택 */
.select-option, .order-list {
	position: fixed;
	top: 70px;
	left: 30%;
	width: 600px;
	height: 850px;
	background: white;
	border: 5px solid darkkhaki;
	z-index: 100;
}

.btn-close{
	width:50px;
	height:50px;
	position:relative;
	text-indent:-9999px;
	float: right;
	background: inherit ; 
	border:none; 
	box-shadow:none; 
	border-radius:0; 
	padding:0; 
	overflow:visible; 
	cursor:pointer;
}

.btn-close:before, .btn-close:after {
	content:'';
	width:30px;
	height:1px;
	position:absolute;
	right: 5px;
	top: 30px;
	border-radius:4px;
	background: darkkhaki;
}

.btn-close:before {
	transform:translate(-50%,-50%) rotate(-45deg)
}

.btn-close:after {
	transform:translate(-50%,-50%) rotate(45deg)
}

.select-option img {
	width: 400px;
	display: block;
	margin: 0 auto;
	margin-top: 50px;
}

.select-option p {
	text-align: center;
	font-size: 18px;
}

.select-option p strong {
	font-size: 22px;
}

.select-option form {
	width: 100%;
	text-align: center;
}

.select-option form label {
	display: block;
	font-size: 18px;
	font-weight: 700;
	line-height: 40px;
	color: darkkhaki;
}

.select-option form .radio {
	display: inline-block;
	width: 150px;
	height: 40px;
	margin-top: 30px;
	margin-bottom: 40px;
	border: 1px solid darkkhaki;
	cursor: pointer;
}

.select-option form .radio.on {
	background: darkkhaki;
	color: white;
}

.select-option form .radio input[type="radio"] {
	display: none;
}

.select-option form .amount input[type="text"] {
	outline: none;
	border: none;
	border-bottom: 3px solid darkkhaki;
	text-align: right;
	font-size: 18px;
	color: darkkhaki;
}

.select-option form input[type="submit"] {
	margin-top: 40px;
	background: darkkhaki;
	color: white;
}
.select-option form input[type="submit"]:hover {
	background: white;
	border-color: darkkhaki;
	color: darkkhaki;
}

/* 주문 완료창 */
.order-list p {
	text-align: center;
    margin-top: 200px;
    font-size: 40px;
    font-weight: 700;
}

.order-list p + p {
	margin-top: 100px;
    font-size: 50px;
}

.order-list p + p span {
	color: darkkhaki;
}

.order-list .btn {
	margin-top: 150px;
	border: 1px solid darkkhaki;
	background: darkkhaki;
	color: white;
}

.order-list .btn:hover {
	background: white;
	color: darkkhaki;
}